/* CinemaList.css */

/* Asegúrate de que el contenedor principal ocupe el 100% del ancho y alto del viewport */
.cinema-list {
  width: 100%;
  height: 100vh; /* O 100% si prefieres que ocupe el alto del contenedor padre */
  background-color: #282c34; /* Color de fondo oscuro */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px; /* Espaciado interno */
}

/* Ajustes para el título */
.cinema-list-title {
  margin-bottom: 20px;
}

/* Elementos de la lista */
.cinema-list-items {
  width: 100%; /* Asegura que la lista ocupe todo el ancho */
}

/* Estilo para los elementos de la lista */
.cinema-item {
  display: flex;
  justify-content: space-between; /* Espaciado entre nombre y botones */
  align-items: center;
  padding: 10px; /* Espaciado interno */
  margin-bottom: 10px; /* Espaciado entre elementos */
  background-color: transparent; /* Elimina el fondo del ítem */
  border: 1px solid transparent; /* Elimina el borde del ítem */
}

/* Ajuste para el texto del nombre del cine */
.cinema-name {
  color: #ffffff; /* Color del texto del nombre */
}

/* Asegúrate de que los botones tengan márgenes para separación */
.btn {
  margin-left: 10px; /* Espacio entre botones */
}
