.room-list-container {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  max-width: 900px; /* Aumentar el ancho máximo para más espacio */
  margin: 0 auto; /* Centra el contenedor */
}

.cine-title {
  color: white;
  background-color: #333;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  font-size: 1.5rem;
  margin-bottom: 20px; /* Espacio inferior */
}

.room-buttons {
  display: flex;
  justify-content: center; /* Centra los botones */
  flex-wrap: wrap; /* Permite que los botones se envuelvan */
  margin-bottom: 20px; /* Espacio inferior */
}

.room-button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
}


.room-button:hover {
  background-color: #0056b3;
}

.card {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  margin: 0 20px; /* Agregar margen a los lados para un mayor espaciado */
}

.movie-details {
  display: flex;
  align-items: center; /* Alinea el póster y los detalles verticalmente */
  margin-bottom: 20px; /* Espacio inferior entre detalles de la película */
}

.movie-poster {
  max-width: 150px; /* Controla el tamaño del póster */
  height: auto;
  margin-right: 20px; /* Espacio a la derecha del póster */
}

.horarios-container {
  display: flex; /* Utiliza flexbox para manejar los botones */
  gap: 10px; /* Espacio entre los botones */
  justify-content: center; /* Alinea los botones en el centro */
}

.horario-button {
  margin: 5px;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
}

.horario-button:hover {
  background-color: #0056b3; /* Color de fondo al pasar el mouse */
}

.back-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.back-button:hover {
  background-color: #c82333;
}

/* Media Queries para mejorar la responsividad */
@media (max-width: 600px) {
  .movie-details {
    flex-direction: column; /* Cambia a columna en pantallas pequeñas */
    align-items: flex-start; /* Alinea a la izquierda */
  }

  .movie-poster {
    margin: 0 auto; /* Centra el póster en pantallas pequeñas */
  }

  .room-button,
  .horario-button,
  .back-button {
    flex: 1 1 100%; /* Los botones ocuparán el 100% del ancho en pantallas pequeñas */
    min-width: auto; /* Elimina el ancho mínimo en pantallas pequeñas */
  }
}
