.cine-container {
  padding: 15px;
  margin-bottom: 20px;
  width: 80%;
  margin: 0 auto;
}

.cine-name {
  font-size: 1.5em;
  color: white;
  margin-bottom: 10px;
}

.cine-section {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.sala-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.sala-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sala-number {
  font-weight: bold;
}

.pelicula-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.horarios-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.horario-box {
  background-color: #90ee90;
  color: black;
  /* Cambiado a negro */
  font-weight: bold;
  border-radius: 12px;
  padding: 10px 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.horario-box:hover {
  background-color: #76c76d;
}

input[type="text"],
input[type="number"],
input[type="search"],
select {
  padding: 0.5rem;
  border: 1px solid #F4D35E; /* Borde amarillo */
  border-radius: 4px; /* Bordes redondeados */
  font-weight: bold; /* Texto en negrita */
  width: 100%; /* Ancho completo */
  margin-bottom: 1rem;
  box-shadow: none; /* Elimina sombras si hay alguna */
  /* Se eliminan color y background-color para usar los predeterminados */
}

.input-horario {
  width: 70px; /* Ajusta el ancho según sea necesario */
  max-width: 70px; /* Asegúrate de que no supere este ancho */
  text-align: left; /* Corrige el texto alineado a la izquierda */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 4px; /* Bordes redondeados */
  padding: 5px; /* Espaciado interno */
  box-shadow: none; /* Elimina sombras si hay alguna */
  font-weight: bold; /* Texto en negrita */
}


/* Asegúrate de que el input no sea transparente */
.input-horario::placeholder {
  color: gray;
  /* Cambia el color del placeholder si es necesario */
}

.button-container {
  display: flex;
  justify-content: flex-start;
}

.add-horario-form {
  margin-top: 15px;
}

.horario-input-container {
  display: flex;
  /* Alineación horizontal */
  align-items: center;
  /* Alineación vertical */
}

.btn {
  margin-left: 10px;
  /* Espaciado entre botones */
}

/* Estilo para mensajes de error y éxito */
.message {
  font-weight: bolder;
  padding: 1rem; /* Espaciado interno */
  border-radius: 4px; /* Bordes redondeados */
  margin-bottom: 1rem; /* Espacio entre mensajes */
  font-weight: bold; /* Texto en negrita */
  display: flex; /* Asegura que se pueda usar alineación flexible si se necesita */
}

.success {
  background-color: white; /* Fondo blanco para mensajes de éxito */
  font-weight: bolder;
  color: green; /* Color de texto verde para éxito */
  border: 1px solid #4CAF50; /* Borde verde claro */
}

.error {
  font-weight: bolder;
  background-color: white; /* Fondo blanco para mensajes de error */
  color: red; /* Color de texto rojo para error */
  border: 1px solid #F44336; /* Borde rojo claro */
}