.showtime-list {
    margin: 20px;
  }
  
  .cine-list, .sala-list, .pelicula-list {
    margin-top: 20px;
  }
  
  ul {
    list-style-type: none;
  }
  
  li {
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  li:hover {
    color: #007BFF;
  }
  