
.sidebar {
    background-color: #343a40 !important; 
position:relative;
}

/* Título del sidebar */
.sidebar-title {
  font-size: 20px;
  margin-bottom: 15px;
  color: #ffc107; /* Color amarillo brillante */
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/* Lista de links */
.sidebar-list {
    list-style-type: none; /* Eliminar los puntos de la lista */
    padding: 0; /* Eliminar el padding por defecto */
    margin: 0; /* Eliminar el margin por defecto */
  }

/* Links del sidebar */
.sidebar-link {
  text-decoration: none;
  color: white !important;
  font-weight: boldder !important;
  padding: 8px;
  display: block;
  border-radius: 4px;
  transition: background 0.3s, color 0.3s;
}

/* Estilo de hover para los links */
.sidebar-link:hover {
  background-color: #ffc107; /* Fondo amarillo al pasar el mouse */
  color: #fff; /* Texto blanco al hacer hover */
}

/* Estilo de link activo (si es necesario) */
.sidebar-link.active {
  background-color: #333; /* Fondo oscuro para el link activo */
  color: #fff; /* Texto blanco */
}
