.home-container {
  display: flex;
}

.sidebar {
  width: 200px; /* Ancho del menú lateral */
  background-color: #f4f4f4;
  padding: 20px;
}

.content {
  flex-grow: 1; /* El contenido ocupará el espacio restante */
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.sidebar a:hover {
  color: #007bff; /* Cambia el color al pasar el mouse */
}
