.home-container {
  display: flex;
}

/* Asegúrate de que el contenedor root ocupe toda la ventana */
html, body {
  height: 100%; /* Asegúrate de que el html y body ocupen el 100% */
  margin: 0; /* Eliminar márgenes predeterminados */
}

#root {
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 100%; /* Ocupa todo el ancho */
  display: flex; /* Permitir el uso de flexbox */
  flex-direction: column; /* Apilar elementos en columna */
}


.sala-list-container {
  padding: 20px;
  height: 100vw; /* Ocupar el 100% del alto disponible */
  overflow-y: auto; /* Hacer scroll si el contenido es mayor que la altura */
}

/* Resto de tu CSS... */


.sidebar {
  width: 200px; /* Ancho del menú lateral */
  background-color: #f4f4f4;
  padding: 20px;
}

.content {
  flex-grow: 1; /* El contenido ocupará el espacio restante */
  padding: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  text-decoration: none;
  color: #333;
}

.sidebar a:hover {
  color: #007bff; /* Cambia el color al pasar el mouse */
}
